body {
  margin:0;
  font-family: 'Trebuchet MS';

  background-position: center;
  background-size: cover;
  width: 100%;
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu {
  margin-top:1%;
  display: flex;
  align-items: center;
  justify-content: center;

}
